<%# locals: (story:, f:, suggesting: false) -%>
<%= render :partial => "stories/form_errors", :locals => { :f => f, :story => f.object } %>

<div class="box">
  <% unless suggesting %>
    <div class="boxline">
    <% if f.object.url_is_editable_by_user?(@user) %>
      <%= f.label :url, "URL:", :class => "required" %>
      <%= f.text_field :url, :autocomplete => "off" %>
      <%# <%= button_tag raw("Fetch&nbsp;Title"), :id => "story_fetch_title", :type => "button" %>
    <% elsif !f.object.new_record? && !f.object.url.blank? %>
      <%= f.label :url, "URL:", :class => "required" %>
      <div class="d">
      <a href="<%= f.object.url %>"><%= f.object.url %></a>
      </div>
    <% end %>
    </div>
  <% end %>
</div>

<% unless suggesting %>
  <div class="box">
    <div class="boxline">
      <%= f.label :user_is_author, "Author:", :class => "required" %>
      <%= f.check_box :user_is_author %>
      <%= f.label :user_is_author,
        (f.object.id && f.object.user_id != @user.id ? "Submitter is" : "I am") +
        " the author of the story at this URL (or this text)",
        :class => "normal" %>
    </div>
    <div class="boxline">
      <%= f.label :user_is_following, "Follow:", :class => "required" %>
      <%= f.check_box :user_is_following %>
      <%= f.label :user_is_following,
        (f.object.id && f.object.user_id == @user.id ? 'Follow' : "Submitter is following") +
        " this story to receive replies via e-mail and Pushover",
        :class => "normal" %>
    </div>
  </div>
<% end %>
